<div class="mx-auto md:w-2/3 w-full">
<h1 class="font-bold text-4xl">New personal data</h1>
  <%= render "form", personal: @personal %>
  <%= link_to 'Cancel', personals_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium", style: "background-color: red;" %>
</div>

